@charset "UTF-8";
@font-face {
    font-family:'Idroid';
    src: url(fontes/idroid.otf);
}
:root {
    --cor-fundo: #ffdcbb;
    --cor-houver-header: #80e9ac;
    --cor-secundaria: #004e21;
    --cor-texto: #fafaff;
    --header-cor: #61d861, #07642e;
    --article_principal-cor: white;
    --titulo-artcle-cor: #1e7c1e;
    --fonte-artcle-cor: black;
    --marker-link: #2bff003a;
    --link-strong: #005825;
    --link-houver: #172ceb;
    --titulo-section-cor:#5dff5d7c, #1e7c1e00 85%;
    --extra: #177e45;
    --aside: #d7ffe8;
    --footer: #07642e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2, h3{
    font-family: Idroid;
}

body{
    background-color: var(--cor-fundo);
    
}

header{
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(var(--header-cor));
    padding: 1.5rem 0rem 1.2rem 0px;
    text-align: center;
    justify-content: center;
    color: var(--cor-texto);
}

header h1{
    font-size: 3em;
}

header p{
    font-size: 1.2rem;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

nav ul{
    display: flex;
    padding-top: 4px;
    justify-content: center;
    gap: 20px;
    list-style: none;
    text-wrap: nowrap;

    @media screen and (max-width: 600px) {
        gap: 1px;
    }
    @media screen and (max-width: 430px) {
        font-size: 0.8rem;
        gap: 1px;
    }
    @media screen and (max-width: 400px) {
        font-size: 0.7rem;
        gap: 1px;
    }
}

nav a{
    text-decoration: none;
    color: var(--cor-texto);
    padding: 1em;
}

nav a:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-houver-header);
    transition-duration: 0.5s;
}

#article_principal{
    background-color: var(--article_principal-cor);
    padding: 0.1em;
    color: var(--titulo-artcle-cor);
    min-width: 320px;
    max-width: 1000px;
    justify-content: center;
    margin: 1em auto;
    border-radius: 0.8em;
    padding: 1em;
}

article p{
    color: var(--fonte-artcle-cor);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin: 0.7em;
    text-indent: 1.5em;
    line-height: 1.5rem;
}

strong, .link{
    color: var(--link-strong);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    text-decoration: none;
}

mark{
    background-color: var(--marker-link);
}

.link{
    font-weight: bold;
}

.link:hover{
    color: var(--link-houver);
    text-decoration: none;
}

.link::after{
    content: " 🔗";
    font-size: 1.3em;
}

.titulo_secao{
    background-image: linear-gradient(to right, var(--titulo-section-cor, transparent 85%));
    text-indent: 0.5em;
}

figure{
    display: flex;
    justify-content: center;
    text-indent: 0em;
}

img{
    width: 100%;
    width: min(1920px, 100%);
}

#diminuir_bugdroid{
    max-width: 25em;
}

aside{
    background-color: var(--aside);
    padding-bottom: 1em;
    margin: 1.3em;
    border-radius: 20px;
}

#extra{
    font-family: sans-serif;
    color: var(--cor-texto);
    background-color: var(--extra);
    padding: 1em;
    border-radius: 20px 20px 0px 0px;
}

#lista_check{
    font-size: 1.2em;
    list-style-position: inside;
    list-style-type: "✔️";
    columns: 2;
    column-gap: 4em;
    margin: 2em;
}

footer{
    background-color: var(--footer);
    align-self: center;
}

footer p{
    color: var(--cor-texto);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-indent: 1.5em;
}