@charset "UTF-8";
*{
    background-color: rgb(197, 248, 222);
}

header{
    text-align: center;
}

header a{
    font-size: 1.1em;
    color: black;
}

section h3{
    font-size: 1.1em;
    font-weight: 100;
}

section a:hover{
    color: brown;
}

section a:visited{
    color: red;
}

footer h2{
    font-size: 1em;
    font-weight: 100;
}
