*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
}

header, nav, main, aside, footer{
    display: flex;
    background-color: gray;
}

header{
    flex: 1 1 100vw;
    height: 100px;
    padding: 10px 30px;
    background-color: gray;

    justify-content: space-between;
    align-items: center;

    img{
        width: max(7%, 110px);
    }

    nav ul li{
        display: inline-block;
    }

    a{
        text-decoration: none;
        margin-left: 30px;

        background-color: black;
        color: white;
        padding: 8px 10px;
        border-radius: 5px;
    }

    .pesquisar{

        input{
            height: 30px;
            width: 200px;
        }
        
    }
}

body > nav{
    flex: 1 1 100vw;
    height: 60px;
    background-color: darkgrey;
}

Main{
    flex: 30 1 500px;
    height: calc(100vh - 100px);

    background-color: rgb(63, 63, 63);
}

aside{
    flex: 1 1 200px;
    background-color: rgb(114, 113, 113);
} 

/* footer{
    flex: 1 1 100vw;

    background-color: rgb(236, 236, 236);
} */

