@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 231, 212);
}

.parallax{
    background-color: black;
    color: white;
    height: 98vh;
    display: flexbox;
    align-content: center;
    text-align: center;
    font-size: 5em;
    
    @media screen and (max-width: 855px) {
        font-size: 7vw;
    }
}

#para-1 {
    background: rgba(255, 153, 0, 0.322) url(midia/Denali-1.jpg) no-repeat center bottom;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;

    @media screen and (max-width: 855px) {
        font-size: 5vw;
    }
}

#para-2 {
    background: rgba(255, 153, 0, 0.322) url(midia/1059_Spruce_wood_1_wide_diffuse_detail.jpg) no-repeat center bottom;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}

#para-3 {
    background: rgba(255, 153, 0, 0.322) url(midia/pexels-min-an-1337984.jpg) no-repeat center bottom;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}

.texto {
    padding: 10vh;
}

.texto p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    padding: 0.5em 0em 0.5em 0em;
    line-height: 1.5em;
    
    @media screen and (max-width: 855px) {
    font-size: 2em;
    }

    @media screen and (max-width: 855px) {
    line-height: 1.3em;
    }
    
    @media screen and (max-width: 800px) {
    font-size: 1em;
    }
}

.texto h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;

    @media screen and (max-width: 855px) {
    font-size: 3em;
    }

    @media screen and (max-width: 800px) {
    font-size: 1.8em;
    }
}

footer {
    background-color: black;
    color: white;
    text-align: center;

    @media screen and (max-width: 400px) {
    font-size: 0.8em;
    }
}

