@charset "UTF-8";

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
 background-color: rgb(255, 220, 226);
}

header{
    border: 0.3em solid pink;
    background-color: pink;
    border-radius: 1em;
    margin: auto;
    margin: 1em;
}

div h1{
    font-size: 3em;
    text-align: center;
}

div section{
    border: 0.3em solid pink;
    background-color: pink;
    margin: auto;
    border-radius: 1em;
}

div article{
    border: 0.3em solid pink;
    background-color: rgb(185, 129, 138);
    border-radius: 1em;
    text-indent: 0.8em;
}