*, a, ul, li{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --cor-1: #fff;
    --cor-2: #000;
}

body{
    background-color: var(--cor-1);
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.3em;
}

#pesquisar input{
  width: 400px;
  height: 35px;
  font-size: 0.9em;
}

header nav{
    padding-top: 2em;
    padding-bottom: 0.5em;
}

header nav, header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 3em;
}

header ul{
    gap: 2em;
}

header nav a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--cor-2);
    font-size: 1em;
}

header nav img{
    width: 11em;
}

#capa-regex{
    background: #000000 url("midias/Nocoes-basicas-de-programacao.jpg") no-repeat left center;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;

    padding-bottom: 5%;

    display: flex;
    flex-direction: column;
    align-items: safe;
    justify-content: center;
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;

    width: 40em;
    height: 32em;
    margin: 4em 0 0 9em;
    padding: 2em 0 0 3em;
    background-color: rgba(255, 255, 255, 0.781);
}

.web-geral{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;

    width: 14em;
    background-color: rgb(27, 27, 27);
    text-align: center;
}

.web-geral a{
    color: var(--cor-1);
    display: block;
    padding: 0.5em;
}

.titulo h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    font-weight: bolder;
}

.titulo p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7em;
    padding-top: 0.7em;
    padding-left: 1em;
}

.compartilhar, ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.compartilhar img{
    width: 50px;

}

.compartilhar{
    display: flex;
    justify-self: center;

    width: 50em;
    padding: 0.5em;
    gap: 9em;
}

.compartilhar h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--cor-2);
    color: var(--cor-1);
    font-size: 1.7em;
    padding: 0.1em 0.5em;
}

#compartilhar-top{
    border: 3px solid rgb(173, 173, 173);
    margin: 1.5em 0 1.5em 0;
}

#compartilhar-buttom{
    border: 3px solid rgb(173, 173, 173);
}

.conteudo{
    padding: 0 9em 0 9em;
}

.conteudo h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    padding-bottom: 0.5em;
}