*, a, ul{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --cor-1: #fff;
    --cor-2: #000;
}

body{
    background-color: var(--cor-1);
}

header form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.3em;
}

a{
    color: #48aee9;
}

#pesquisar input{
  width: 400px;
  height: 35px;
  font-size: 0.9em;
}

header nav{
    padding-top: 2em;
    padding-bottom: 0.5em;
}

header nav, header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 3em;
}

header ul{
    gap: 2em;
}

header nav a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--cor-2);
    font-size: 1em;
}

header nav a:hover{
    text-decoration: underline #4DB2EC 3px;
    text-underline-offset: 10px;
}

header nav img{
    width: 11em;
}

#capa-regex{
    background: #000000 url("midias/Nocoes-basicas-de-programacao.jpg") no-repeat left center;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;

    padding-bottom: 5%;

    display: flex;
    flex-direction: column;
    align-items: safe;
    justify-content: center;
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;

    width: 40em;
    height: 32em;
    margin: 4em 0 0 9em;
    padding: 2em 0 0 3em;
    background-color: rgba(255, 255, 255, 0.781);
}

.web-geral{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;

    width: 14em;
    background-color: rgb(27, 27, 27);
    text-align: center;
}

.web-geral a{
    color: var(--cor-1);
    display: block;
    padding: 0.5em;
}

.titulo h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    font-weight: bolder;
    max-width: 9em;
}

.titulo p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7em;
    padding-top: 0.7em;
    padding-left: 1em;
    max-width: 20em;
}

.compartilhar, .compartilhar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.compartilhar img{
    width: 50px;

}

.compartilhar{
    display: flex;
    

    width: 50em;
    padding: 0.5em;
    gap: 9em;
}

.compartilhar li a:hover{
    opacity: 50%;
}

.compartilhar h5{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--cor-2);
    color: var(--cor-1);
    font-size: 1.7em;
    padding: 0.1em 0.5em;
}

#compartilhar-top{
    justify-self: center;
    border: 3px solid rgb(173, 173, 173);
    margin: 1.5em 0 1.5em 0;
}

#compartilhar-buttom{
    justify-content: left;
    padding-top: 2em;
}

.conteudo{
    max-width: 800px;
    margin: auto;
}

.conteudo h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5em 0 0 0;
}

.conteudo h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em 0 1em 0;
}

section > p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    padding: 1em 0 1em 0;
}

.conteudo li{
    font-size: 1.2em;
    padding: 0 0 1em 0;
}

.conteudo ul, .conteudo ol{
    padding-left: 1em;
    overflow-wrap: break-word;
}

.exemplo {
    background-color: #f4f4f4; 
}

fieldset {
    border: 1px solid #dadada;
    background-color: #FAFAFA;
    padding-left: 1em;
    border-radius: 7px;
}

.card-apoio{
    padding-bottom: 2em;
}
fieldset div{
    padding: 1em 0 1em 0;
}

legend{
    background-color: #FAFAFA;
    font-size: 0.9em;
    padding: 0 10px 0 10px;
}

#card-apoio-buttom{
    padding-bottom: 2em;
}

.confira-div p, .confira-div a{
    padding-bottom: 0.5em;
    padding-top: 0;
}

#informatica{
    border: 1px solid #dadada;
    padding: 1em;
}

#informatica p{
    max-width: 38em;
}