@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: #835828 url(imagens/fundo-madeira.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

#iphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 624px;
    background: url(imagens/frame-iphone.png) no-repeat;
}

iframe{
    position: absolute;
    top: 51.7%;
    left: 52%;
    transform: translate(-52%, -51.7%);
    width: 261px;
    height: 465px;
}

#rede-sociais img{
    border-radius: 100%;
    margin: 0.6em;
    width: 70px;
    height: 70px;
}

#rede-sociais img:hover{
    transform: translate(-3px, -3px);
    border: 4px solid rgba(255, 255, 255, 0.692);
    transition: transform 90ms;
}

ul{
    display: block;
    position: absolute;
    top: 26%;
    left: 80%;
    list-style: none;
}

#home img{
    position: absolute;

    top: 78.4%;
    left: 48%;
    width: 50px;
    height: 50px;

    border-radius: 100%;
    opacity: 0%;
}