@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --cor-white: white;
    --cor-black: black;

    --font-1: 'Passion One', cursive;
    --font-2: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    min-height: 100vh;
}

header{
    background-color: var(--cor-black);
    color: var(--cor-white);
    padding: 2em;
    text-align: center;
}

header h1{
    font-size: 5em;
    padding-bottom: 0.1em;
    font-variant: small-caps;
    font-family: var(--font-1);
}

a{
    color: var(--cor-white);
    text-decoration: none;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

article{
    padding: 10vh 0px 9vh 0em;
    line-height: 3em;
}

article p{
    font-family: var(--font-2);
    font-size: 2em;
    padding-bottom: 1em;
    padding-left: 1em;
}

article.normal{
    background-color: var(--cor-white);
    color: var(--cor-black);
}

article.imagem{
    background-color: #1f1f1f;
    color: var(--cor-white);
    box-shadow: 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

article.imagem p{
    background-color: rgba(0, 0, 0, 0.473);
    width: 15em;
    text-shadow: 2px 2px 0px black;
}

#imagem01{
    background-image: url(midias/background001.jpg);
    background-position: center center;
}

#imagem02{
    background-image: url(midias/background002.jpg);
    background-position: center;
}

footer{
    background-color: var(--cor-black);
    color: var(--cor-white);
    padding: 0.1em;
    text-align: center;
}