
@media screen and (max-width: 600px) {
    main{
        section, footer{
            max-width: 90vw;
            margin: auto;
        } 
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    main{
        section, footer{
            max-width: 75%;
            margin: auto;
        } 
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    main{
        section, footer{
            max-width: 50%;
            margin: auto;
        } 
    }
}