*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #e9f5ff;
}

header{
    background-image: linear-gradient(#d2ffe6, #e9f5ff 101%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

header h1{
    color: #004e4e;
    font-size: 3em;
    margin: 1em;
}

header nav{
    margin: 0.5em;
}

header li{
    display: inline;
    margin: 1em;
}
nav a{
    color: #004e4e;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: bolder;
}

main figure{
    display: flex;
    gap: 0.5em;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em;
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin:0.3em ;
}
div{
    background-color: #d2ffe6;
    border-radius: 2em;
}

article p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2em;
    font-weight: 200;
    font-size: 1.1em;
}

ol {
    font-size: 1.6em;
    font-weight: bolder;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

#grave{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em;
    border-radius: 1em;
}

#urgencia{
    background-color: rgb(196, 185, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 20em;
    border-radius: 1em;
}

#comum{
    background-color: rgb(95, 196, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em;
    border-radius: 1em;
}

footer{
    background-color: #00e466;
    text-align: center;
    margin-top: 1em;
}