*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: linear-gradient(to bottom,#90ffff, #1e4fa3);
    height: 100%;
}

header{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url("../midia/Sommerlandschaft-Bilder-32.jpg");
    background-size: cover;
}

header h1{
    color: #eef4ff;
    @media (min-width: 40px) {
        font-size: 5em;
    }
}

li{
    display: inline-block;
    margin: 1.6em 0.5em;
    text-decoration: none;
}

nav a{
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bolder;
}

#login{
    position: absolute;
    top: 1em;
    right: 2em;
}

nav a{
    text-decoration: none;
}

#login a{
    font-size: 1.2em;
    background-color: #000133;
    padding: 0.5em 1em;
    border-radius: 1em;
}

.titulo{
    background-image:linear-gradient(to right, #84f79d00, #00ff3741, #84f79d00);
}

p, h2{
    text-align: center;
}

section{
    margin: 1.5em auto;
    background-color: rgb(195, 255, 255);
    border-radius: 5em;
    display: flex;
    flex-direction: column;
    @media (min-width: 1050px) {
        width: 62%;
    }
}

h2{
    font-size: 4em;
}

p{
    margin: 2em;
    font-size: 1.3em;
    text-align: left;
}

picture img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 2em;
}

footer{
    width: 100%;
    height: 3.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000133;
    color: white;
}